.about-container {
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10rem;
}
.content-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: center;
    height: 100%;
}
.about-container h2 {
    display: flex;
    flex-wrap: nowrap;
    max-width: 30rem;
}
.about-container img {
    margin-right: 4rem;
}