.App {
  text-align: center;
  background-color: var(--background);
  padding-top: 4rem;
  color: var(--text);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: 60px;
}

.text-container {
  border-radius: 1rem;
  justify-self: center;
  text-align: left;
  max-width: 40%;
  max-height: 40%;
  padding: 0.75rem;
}
  
.text-container h2{
  margin-top: 0rem;
}
img {
  border-radius: 1rem;
  max-width: 35%;
  max-height: 35%;
  margin: 1rem;
  box-shadow:10px 5px 10px var(--shadow);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
