.App {
  text-align: center;
  background-color: var(--background);
  padding-top: 4rem;
  color: var(--text);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: 60px;
}

.text-container {
  border-radius: 1rem;
  justify-self: center;
  text-align: left;
  max-width: 40%;
  max-height: 40%;
  padding: 0.75rem;
}
  
.text-container h2{
  margin-top: 0rem;
}
h2{
  margin: auto;
  margin-bottom: 2rem;
  align-items: center;
  font-size: 25px;
}
h2 hr {
  margin: auto;
  margin: 1rem;
  width: 9rem;
  height: 1px;
  background-color: var(--highlight);
  border-width: 0px;
}
img{
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem var(--shadow);
}

.footer {
  height: 5rem;
  font-size: 0.75rem;
}
.footer a{
  font-size: 0.75rem;
  transform: translateY(0.15rem);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
